.suggests {
  background-color: var(--color-bg);
  list-style: none;
}

.suggest {
  padding: 10px 15px;
  background-color: var(--color-bg);
  border-radius: 3px;
  font-size: 1rem;
  list-style: none;
}

.suggest:hover {
  background-color: var(--color-selected-suggest);
}

.suggest__author {
  margin-left: 8px;
  color: #b1b1b1;
}
