.search-form {
  --border-radius: 5px;

  display: flex;
}

.search-form__input-box {
  position: relative;
  width: 100%;
}

.search-form__input {
  width: 100%;
  height: auto;
  padding: 8px 40px 8px 12px;
  border: 2px solid var(--color-search-form);
  background-color: var(--color-app-bg);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  outline: none;
  transition: border 0.3s ease;
}

.search-form__clear-btn {
  position: absolute;
  top: 50%;
  right: 2px;
  width: 40px;
  height: 40px;
  background-color: white;
  background-image: url(assets/img/close.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition: opacity 0.1s;
}

.search-form__clear-btn_visible {
  opacity: 0.7;
  visibility: visible;
}

.search-form__clear-btn_visible:hover {
  opacity: 1;
}

.search-form__clear-btn_hidden {
  visibility: hidden;
}

.search-form__search-btn {
  padding: 10px 30px;
  background: var(--color-search-form);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  color: var(--color-app-bg);
  font-size: 1rem;
  line-height: 25px;
  transition: box-shadow 0.2s;
}

.search-form__search-btn:hover {
  box-shadow: inset 0 0 7px 3px rgba(0 0 0 / 10%);
}
