* {
  padding: 0;
  margin: 0;
}

:root {
  --color-app-bg: #fff;
  --color-search-form: #275efe;
  --color-suggest-selected: #c4d3ff;
  --color-suggest-author: #b1b1b1;
  --color-page-switcher: transparent;
  --color-page-switcher-actived: #becfff;
  --color-page-switcher-hovered: #e9eeff;
  --color-book-card: #fff;
  --color-book-cover: #f0f0f0;
  --color-book-popup-overlay: #000000b8;
  --font-size: 16px;
  --z-suggests-popup: 100;
  --z-book-popup: 200;
}

html {
  font-size: var(--font-size);
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--color-app-bg);
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
}

button:focus {
  outline: none;
}
