* {
  padding: 0;
  margin: 0;
}

:root {
  --color-bg: #fff;
  --color-search-form: #275efe;
  --color-selected-suggest: #c4d3ff;
  --color-found-book-card: #fff;
  --color-found-book-cover: #f0f0f0;
  --font-size: 16px;
}

html {
  font-size: var(--font-size);
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg);
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
}

button:focus {
  outline: none;
}
