.book {
  display: flex;
  padding: 25px;
  background-color: var(--color-book-cover);
}

.book__cover {
  background-color: var(--color-book-cover);
}

.book__cover-img {
  display: block;
}

.book__cover,
.book__cover-img {
  min-width: 300px;
  max-width: 60vmin;
  height: 500px;
  max-height: 60vmin;
}

.book__info {
  max-width: 300px;
  margin-left: 20px;
  font-size: 1rem;
}

.book__info > :where(.book__title, .book__author, .book__isbn, .book__publication-info) {
  margin-bottom: 3px;
}

.book__title {
  font-size: 1.3rem;
  font-weight: bold;
}

.book__author {
  font-size: 1.1rem;
}

.book__isbn {
  margin-top: 15px;
}

@media screen and (orientation: portrait) {
  .book {
    flex-direction: column;
  }

  .book__info {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .book {
    padding: 15px;
  }

  .book__cover,
  .book__cover-img {
    min-width: 50vmin;
    height: auto;
    min-height: 80vmin;
  }

  .book__info {
    max-width: 80vmin;
  }
}
