.found-books {
  display: flex;
  flex-wrap: wrap;
}

.found-book {
  display: flex;
  max-width: 30%;
  flex: 30%;
  flex-direction: column;
  padding: 15px;
  margin: calc(10% / 6);
  background-color: var(--color-white);
  border-radius: 15px;
  box-shadow: 0 2px 8px rgb(18 17 36 / 4%), 0 4px 32px rgb(18 17 36 / 8%);
  transition: box-shadow 0.3s;
}

.found-book:hover {
  box-shadow: 0 2px 8px rgb(18 17 36 / 10%), 0 4px 32px rgb(18 17 36 / 20%);
}

.found-book__cover {
  position: relative;
  padding-top: 133.33%; /* 4/3 aspect-ratio */
  background-color: var(--color-gray-light);
}

.found-book__cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.found-book__info {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  margin-top: 10px;
}

.found-book__title,
.found-book__author {
  overflow: hidden;
  margin: 1px 0;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.found-book__title {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .found-book {
    max-width: 45%;
    flex: 45%;
    margin: calc(10% / 4);
  }
}

@media screen and (max-width: 576px) {
  .found-book {
    max-width: 90%;
    flex: 90%;
    margin: calc(10% / 2);
  }
}
