.found-books {
  display: flex;
  flex-wrap: wrap;
}

.found-book {
  max-width: 30%;
  box-sizing: border-box;
  flex: 0 0 30%;
  padding: 15px;
  margin: calc(10% / 6);
  background-color: var(--color-book-card);
  border-radius: 15px;
  box-shadow: 0 2px 8px rgb(18 17 36 / 4%), 0 4px 32px rgb(18 17 36 / 8%);
  transition: box-shadow 0.3s;
}

.found-book:hover {
  box-shadow: 0 2px 8px rgb(18 17 36 / 10%), 0 4px 32px rgb(18 17 36 / 20%);
}

.found-book__cover {
  width: 100%;
  height: 300px;
  background-color: var(--color-book-cover);
  background-position: center;
  background-size: cover;
}

.found-book__info {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  margin-top: 10px;
}

.found-book__title,
.found-book__author {
  overflow: hidden;
  margin: 1px 0;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.found-book__title {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .found-book {
    max-width: 45%;
    flex: 0 0 45%;
    margin: calc(10% / 4);
  }

  .found-book__cover {
    height: 400px;
  }
}

@media screen and (max-width: 576px) {
  .found-book {
    max-width: 90%;
    flex: 0 0 90%;
    margin: calc(10% / 2);
  }

  .found-book__cover {
    height: 450px;
  }
}
